// Dial
.dial {
  text-align: center;
}

.dial__content {
  display: inline-block;
  text-align: left;
}


// Entry
.entry {
  border: 7px solid transparent;
  display: inline-block;

  &:hover {
    border: 7px solid rgba(53, 191, 256, 0.5);
    border-radius: 2px;
  }
}


// Bookmark
.bookmark {
  background: #fff;
  box-shadow: 2px 2px 1px #aaa;
  border-radius: 2px;
  display: inline-block;
  margin: 10px;
  overflow: hidden;
  position: relative;
  text-decoration: none;
  text-overflow: ellipsis;
  width: 100%;
  z-index: 10;
}

.bookmark__overlay {
  @include transition(0.2s all);
  background: black;
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 30;

  &:hover {
    opacity: 0.1;
  }
}


// Bookmark image
.bookmark__image {
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 2px;
  display: block;
  height: 100%;
  width: 100%;
}

.bookmark__image.custom {
  background-size: contain;
  background-position: center;
}


// Bookmark details
.bookmark__details {
  background: white;
  border-collapse: collapse;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  border-top: 1px solid #ddd;
  bottom: 0;
  height: 25px;
  line-height: 25px;
  position: absolute;
  width: 100%;
  z-index: 20;
}


// Bookmark actions
.bookmark__action {
  color: #333;
  display: inline-block;
  opacity: 0.0;
  width: 1em;
  z-index: 40;
}

.bookmark:hover .bookmark__action {
  opacity: 0.4;
}

.bookmark:hover .bookmark__action:hover {
  opacity: 1;
}


// Bookmark title
.bookmark__title {
  color: #333;
  display: inline-block;
  font-size: 1em;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.bookmark:hover .bookmark__title {
  opacity: 0.9;
}


// Folders
.folder-list {
  margin: 20px auto 10px auto;
  min-width: 20em;
  max-width: 30%;
}

.folder {
  background-color: #aaa;

}

.folder__content {
  @include transition(0.2s color);
  color: #888;

  &:hover {
    color: #fff;
  }

  .fa {
    display: block;
    font-size: 5em;
    height: 100%;
    left: 30%;
    position: absolute;
    top: 20%;
  }
}

.folder__details {
  background-color: #888;
  border-top: none;
}

.folder__title {
  color: white;
}


// New entry
.new-entry {
  background-color: #aaa;
  border-radius: 2px;
  cursor: pointer;
  height: 100%;
}

.new-entry__content {
  color: #888;
  text-align: center;

  .fa {
    display: block;
    font-size: 5em;
    height: 100%;
    position: absolute;
    top: 25%;
    width: 100%;
  }
}


// Options button
.options-link {
  color: #aaa;
  font-size: 5em;
  line-height: normal;
  position: absolute;
  right: 5px;
  top: -5px;
  text-decoration: none;

  &:hover {
    color: #888;
    text-shadow: 0px 0px 10px rgba(53, 191, 255, 0.6);
  }
}

