// Dial
.dial {
  text-align: center;
}

.dial__content {
  display: inline-block;
  text-align: left;
}


// Entry
.entry {
  border: 7px solid transparent;
  display: inline-block;

  &:hover {
    border: 7px solid rgba(53, 191, 256, 0.5);
    border-radius: 2px;
  }
}


// Bookmark
.bookmark {
  background: #fff;
  box-shadow: 2px 2px 1px #aaa;
  border-radius: 2px;
  display: block;
  height: 100%;
  position: relative;
  text-decoration: none;
  width: 100%;

  &:hover {
    color: #444;
  }

  .bookmark__image {
    background-size: cover;
    background-repeat: no-repeat;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  .custom {
    background-size: contain;
    background-position: center;
  }
}


// Bookmark details
.bookmark__details {
  border-collapse: collapse;
  bottom: 0;
  display: table;
  position: absolute;
  width: 100%;
}


// Bookmark actions
.bookmark__action {
  color: #333;
  display: table-cell;
  opacity: 0.0;
  width: 1em;
}

.entry:hover .bookmark__action {
  opacity: 0.4;
}

.entry:hover .bookmark__action:hover {
  opacity: 1;
}


// Bookmark title
.bookmark__title {
  color: #333;
  font-size: 1em;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.entry:hover .bookmark__title {
  opacity: 0.9;
}


// New entry
#new_entry div {
  background-color: #aaa;
  border-radius: 5px;
  height: 100%;
}

.fa-folder, .fa-plus {
  position: relative;
}

#bookmark_form h1 {
  font-size: 1.5em;
}

#bookmark_form span {
  display: inline-block;
  padding: 0 5px;
  text-align: right;
  width: 110px;
  margin-left: -20px;
}

#bookmark_form input {
  padding: 0 5px;
  width: 300px;
}

#bookmark_form button {
  width: 10em;
  height: 2em;
  font-size: 110%;
}


// Options button
.options-link {
  font-size: 7em;
  color: #aaa;
  position: absolute;
  right: 5px;
  top: -5px;
  text-decoration: none;

  &:hover {
    color: #888;
    text-shadow: 0px 0px 10px rgba(53, 191, 255, 0.6);
  }
}


// Folder list
.folder-list {
  margin: 20px auto 10px auto;
  min-width: 20em;
  max-width: 30%;
}
