// Dial
.dial {
  text-align: center;
}

.dial__content {
  display: inline-block;
  text-align: left;
}


// Entry
.entry {
  border: 7px solid transparent;
  display: inline-block;

  &:hover {
    border: 7px solid rgba(53, 191, 256, 0.5);
    border-radius: 2px;
  }
}


// Bookmark
.bookmark {
  background: #fff;
  box-shadow: 2px 2px 1px #aaa;
  border-radius: 2px;
  display: block;
  height: 100%;
  overflow: hidden;
  position: relative;
  text-decoration: none;
  text-overflow: ellipsis;
  width: 100%;
  z-index: 10;

  &:hover {
    color: #444;
  }
}


// Bookmark image
.bookmark__image {
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 2px;
  height: 100%;
}

.bookmark__image.custom {
  background-size: contain;
  background-position: center;
}


// Bookmark details
.bookmark__details {
  background: white;
  border-collapse: collapse;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  border-top: 1px solid #ddd;
  bottom: 0;
  display: table;
  height: 25px;
  line-height: 25px;
  position: absolute;
  width: 100%;
  z-index: 20;
}


// Bookmark actions
.bookmark__action {
  color: #333;
  display: table-cell;
  opacity: 0.0;
  width: 1em;
}

.entry:hover .bookmark__action {
  opacity: 0.4;
}

.entry:hover .bookmark__action:hover {
  opacity: 1;
}


// Bookmark title
.bookmark__title {
  color: #333;
  display: table-cell;
  font-size: 1em;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.entry:hover .bookmark__title {
  opacity: 0.9;
}


// New entry
.new-entry {
  cursor: pointer;
  height: 100%;
}

.new-entry__content {
  background-color: #aaa;
  border-radius: 2px;
  display: block;
  height: 100%;
}


// Options button
.options-link {
  color: #aaa;
  font-size: 7em;
  line-height: normal;
  position: absolute;
  right: 5px;
  top: -5px;
  text-decoration: none;

  &:hover {
    color: #888;
    text-shadow: 0px 0px 10px rgba(53, 191, 255, 0.6);
  }
}


// Folder list
.folder-list {
  margin: 20px auto 10px auto;
  min-width: 20em;
  max-width: 30%;
}
