// Base settings
$grey-light: #aaa;
$grey-lighter: #ddd;
$grey-dark: #888;


// Bookmarks
$bookmark-background: #fff;
$bookmark-border-radius: 2px;
$bookmark-box-shadow: 2px 2px 1px $grey-light;
$bookmark-box-shadow-hover: 0px 0px 1px 4px rgba(53, 191, 256, 0.5);
$bookmark-margin: 10px;
$bookmark-min-width: 120px;

$bookmark-details-border-top: 1px solid $grey-lighter;
$bookmark-details-height: 25px;
$bookmark-title-color: $grey-dark;
$bookmark-title-font-size: 0.9em;
$bookmark-menu-color: $grey-light;

$bookmark-new-entry-background: $grey-light;
$bookmark-new-entry-color: $grey-dark;


// Options
$options-color: $grey-light;
$options-color-hover: $grey-dark;
$options-font-size: 5em;
$options-text-shadow: 0px 0px 10px rgba(53, 191, 255, 0.6);


// Z-ordering
$z-index-bookmark-menu: 100;
$z-index-bookmark-overlay: 30;
$z-index-options: 1;
