// ==============================================================
// Local variables
// ==============================================================

$bookmark-background: #fff;
$bookmark-border-radius: 2px;
$bookmark-box-shadow: 2px 2px 0px 0px rgba($grey-light, .5);
$bookmark-margin: 10px;
$bookmark-min-width: 120px;

$bookmark-details-border-top: 1px solid $grey-lighter;
$bookmark-details-height: 25px;

$bookmark-title-color: $grey-dark;
$bookmark-title-font-size: 12px;

$bookmark-menu-color: $grey-light;


// ==============================================================
// Styles
// ==============================================================

.bookmark {
  min-width: $bookmark-min-width;
  width: 100%;

  display: inline-block;
  margin: $bookmark-margin;
  position: relative;

  background: $bookmark-background;
  border-radius: $bookmark-border-radius;
  box-shadow: $bookmark-box-shadow;
  cursor: pointer;
  opacity: .7;
  overflow: hidden;
  transition: opacity 0.3s;
  z-index: $bookmark-z-index;
}

.bookmark:hover {
  opacity: 1;

  .bookmark__details { opacity: 1; }
  .bookmark__toggle { opacity: 1; }
  .bookmark__action { opacity: 0; }
}

.bookmark__image {
  background-size: cover;
  display: block;
  position: relative;
  height: 100%;
  width: 100%;

  img {
    height: auto;
    min-width: 100%;
    max-width: 150%;

    position: absolute;
    left: 0px;
    top: 0px;

    border-radius: $bookmark-border-radius;
  }
}

.bookmark__image.custom {
  background-size: contain;
  background-position: center;
}


.bookmark__details {
  height: $bookmark-details-height;
  width: 100%;

  position: absolute;
  bottom: 0;

  background: $bookmark-background;
  border-bottom-left-radius: $bookmark-border-radius;
  border-bottom-right-radius: $bookmark-border-radius;
  border-top: $bookmark-details-border-top;
  line-height: $bookmark-details-height;
  opacity: 0.85;
  transition: opacity 0.3s;
  z-index: $bookmark-details-z-index;
}


.bookmark__title {
  color: $bookmark-title-color;
  display: inline-block;
  font-size: $bookmark-title-font-size;
  font-weight: 600;
  margin-left: 10px;
  max-width: 75%;
  opacity: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: opacity .3s;
  white-space: nowrap;

  &.--active {
    opacity: 1;
  }

  &:hover {
    text-decoration: none;
  }
}


.bookmark__actions {
  display: inline-block;
  float: right;
  padding: 0 3px;
  z-index: $bookmark-menu-z-index;
}

.bookmark__actions.--active {
  .bookmark__action {
    opacity: 1;
  }
}

.bookmark__toggle {
  color: $bookmark-menu-color;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  min-width: 16px;
  opacity: 0;
  padding-left: 6px;
  text-align: center;
  transition: opacity .3s, color .3s;
  vertical-align: top;

  &:hover,
  &.--active {
    color: $brand-danger;
    opacity: 1;
  }
}

.bookmark__action {
  @extend .bookmark__toggle;
  opacity: 0;
}


// Folders
.folder-list {
  margin: 20px auto 10px auto;
  min-width: 20em;
  max-width: 30%;
}

