<div class="bookmark" title="{{bookmark.title}}" style="height: {{entryHeight}}px; width: {{entryWidth}}px">

  <a href="{{bookmark.url}}" class="bookmark__overlay" ng-click="openBookmark(bookmark)"></a>

  <a class="bookmark__image" style="background-image: url('{{bookmark.image}}');">
    <div class="folder__content" ng-if="bookmark.isFolder">
      <i class="fa fa-folder"></i>
    </div>
  </a>

  <div class="bookmark__details">
    <a ng-hide="bookmark.isExpanded" class="bookmark__title" href="{{bookmark.url}}">{{bookmark.title}}</a>

    <span class="bookmark__actions">
      <span class="bookmark__action" ng-show="bookmark.isExpanded" ng-click="editBookmark(bookmark)">
        <i class="fa fa-edit"></i>
      </span>

      <span class="bookmark__action" ng-if="!bookmark.isFolder" ng-show="bookmark.isExpanded" ng-click="captureBookmark(bookmark)">
        <i class="fa fa-refresh"></i>
      </span>

      <span class="bookmark__action" ng-show="bookmark.isExpanded" ng-click="removeBookmark(bookmark)">
        <i class="fa fa-ban"></i>
      </span>

      <span class="bookmark__action" ng-click="bookmark.isExpanded = !bookmark.isExpanded" ng-class="{ 'active' : bookmark.isExpanded }">
        <i class="fa" ng-class="{ 'fa-ellipsis-h' : bookmark.isExpanded, 'fa-ellipsis-v' : !bookmark.isExpanded }"></i>
      </span>
    </span>
  </div>

</div>
