<!DOCTYPE HTML>
<html ng-app="simpleSpeedDial">

	<head>
		<title>Speed Dial Options</title>

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/ngDialog/css/ngDialog.css" />
    <link rel="stylesheet" href="bower_components/ngDialog/css/ngDialog-theme-default.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/styles.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
	</head>

	<body ng-controller="OptionsCtrl as options" ng-style="{ 'background-color': options.getBackgroundColor() }">

		<div class="options col-sm-offset-2 col-sm-8" option-bindings>

			<form name="optionsForm" class="form-horizontal" role="form" novalidate>

				<uib-tabset justified="true">

					<uib-tab heading="Basic options">

						<br />

						<div class="form-group">
							<label class="col-sm-4 control-label">Number of columns</label>
							<div class="col-sm-8">
								<select class="form-control" ng-model="options.getModel().dial_columns">
									<option value="2">2 Columns</option>
									<option value="3">3 Columns</option>
									<option value="4">4 Columns</option>
									<option value="5">5 Columns</option>
									<option value="6">6 Columns</option>
									<option value="7">7 Columns</option>
									<option value="8">8 Columns</option>
									<option value="9">9 Columns</option>
									<option value="10">10 Columns</option>
								</select>
							</div>
						</div>

						<div class="form-group">
							<label class="col-sm-4 control-label">Dial width</label>
							<div class="col-sm-8">
								<select class="form-control" ng-model="options.getModel().dial_width">
									<option value="40">40%</option>
									<option value="50">50%</option>
									<option value="60">60%</option>
									<option value="70">70%</option>
									<option value="80">80%</option>
									<option value="90">90%</option>
									<option value="100">100%</option>
								</select>
							</div>
						</div>

						<div class="form-group">
							<label class="col-sm-4 control-label">Default folder</label>
							<div class="col-sm-8">
								<select class="form-control" ng-model="options.getModel().default_folder_id" ng-options="f.id as f.path for f in options.getFolders()"></select>
							</div>
						</div>

						<div class="form-group">
							<label class="col-sm-4 control-label">Background colour</label>
							<div class="col-sm-8">
								<input type="color" class="form-control" ng-model="options.getModel().background_color" />
							</div>
						</div>

						<div class="form-group">
							<div class="col-sm-offset-4 col-sm-8 checkbox">
								<label><input type="checkbox" ng-model="options.getModel().show_new_entry" /> Show [+] button</label>
							</div>
						</div>

						<div class="form-group">
							<div class="col-sm-offset-4 col-sm-8 checkbox">
								<label><input type="checkbox" ng-model="options.getModel().show_folder_list" /> Show folder selector</label>
							</div>
						</div>

						<div class="form-group">
							<div class="col-sm-offset-4 col-sm-8 checkbox">
								<label><input type="checkbox" ng-model="options.getModel().drag_and_drop" /> Enable drag & drop</label>
							</div>
						</div>

						<div class="form-group">
							<div class="col-sm-offset-4 col-sm-8 checkbox">
								<label><input type="checkbox" ng-model="options.getModel().center_vertically" /> Enable vertical centering</label>
							</div>
						</div>

						<div class="form-group">
							<div class="col-sm-offset-4 col-sm-8 checkbox">
								<label><input type="checkbox" ng-model="options.getModel().show_options_gear" /> Enable options gear</label>
							</div>
						</div>

						<div class="form-group">
							<div class="col-sm-offset-4 col-sm-8 checkbox">
								<label><input type="checkbox" ng-model="options.getModel().show_subfolder_icons" /> Show sub-folders</label>
							</div>
						</div>

						<div class="form-group">
							<div class="col-sm-offset-4 col-sm-8 checkbox">
								<label><input type="checkbox" ng-model="options.getModel().enable_sync" ng-change="options.enableSync()" /> Enable Chrome sync</label>
							</div>
						</div>

						<hr />

						<div class="text-center">
							<a href="index.html" class="btn btn-primary">Return to Dial</a>
						</div>

					</uib-tab>

					<uib-tab heading="Advanced options">

						<br />

						<div class="form-group">
							<label class="col-sm-4 control-label">Thumbnailing service</label>
							<div class="col-sm-8">
								<input type="url" class="form-control" ng-model="options.getModel().thumbnailing_service" />
								<span class="help-block">[URL] token will be replaced by the bookmark URL</span>
							</div>
						</div>

						<div class="form-group">
							<label class="col-sm-4 control-label">Reset (data will be lost)</label>
							<div class="col-sm-8">
								<button type="button" class="btn btn-danger" ng-click="options.resetLocalSettings()">Reset local settings</button>
								<button type="button" class="btn btn-danger" ng-click="options.resetSyncSettings()">Reset synced data</button>
							</div>
						</div>

						<hr />

						<div class="text-center">
							<a href="index.html" class="btn btn-primary">Return to Dial</a>
						</div>

					</uib-tab>

				</uib-tabset>

			</form>

		</div>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/ngDialog/js/ngDialog.js"></script>
    <script src="bower_components/underscore/underscore.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/app.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/bookmarks_controller.js"></script>
    <script src="scripts/controllers/options_controller.js"></script>
    <script src="scripts/directives/dial_entry_directive.js"></script>
    <script src="scripts/directives/json_entry_directive.js"></script>
    <script src="scripts/directives/option_bindings_directive.js"></script>
    <script src="scripts/directives/speed_dial_directive.js"></script>
    <script src="scripts/factories/bookmark_factory.js"></script>
    <script src="scripts/factories/capture_factory.js"></script>
    <script src="scripts/factories/storage_factory.js"></script>
    <!-- endbuild -->

	</body>

</html>
