<!DOCTYPE HTML>
<html>
    <head>
        <title>Speed Dial</title>

        <link rel="stylesheet" type="text/css" href="/styles/styles.css" />

        <!-- Inline -->
        <style type="text/css" id="styles"></style>
    </head>

    <body>
        <div class="dial">
            <div class="dial__folder" id="folder"></div>
            <div class="dial__content" id="dial"></div>

            <div id="bookmark-form" class="reveal-modal">
                <a class="close close-reveal-modal"><i class="fa fa-times"></i></a>

                <form class="form-horizontal" role="form">
                    <h1></h1>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Title</label>
                        <input type="text" class="col-sm-9 form-control title" placeholder="Enter Title" />
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">URL</label>
                        <input type="url" class="col-sm-9 form-control url" placeholder="Enter URL" />
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Custom Icon</label>
                        <input type="url" class="col-sm-9 form-control icon" placeholder="Enter URL of custom icon / image" />
                    </div>

                    <button class="close-reveal-modal btn btn-success">Save this bookmark</button>
                </form>
            </div>
        </div>

        <a href="/views/options.html" id="options-link" class="options-link">
            <span class="fa fa-gear"></span>
        </a>

        <script type="text/javascript" src="/scripts/vendor.js"></script>
        <script type="text/javascript" src="/scripts/app.js"></script>
    </body>
</html>
