<!DOCTYPE HTML>
<html ng-app="speeddial">
    <head>
        <title>Speed Dial</title>

        <link rel="stylesheet" type="text/css" href="/styles/styles.css" />

        <!-- Inline -->
        <style type="text/css" id="styles"></style>
    </head>

    <body ng-controller="BookmarksCtrl" style="background-color: {{backgroundColor}};">
        <div class="dial" style="padding-top: {{dialPadding}}px; width: {{dialWidth}}px;" speed-dial>
            <select class="folder-list form-control" ng-change="fetchBookmarks()" ng-model="folderId" ng-options="f.id as f.path for f in folders"></select>

            <div class="dial__content">
                <dial-entry ng-repeat="bookmark in bookmarks"></dial-entry>

                <div class="bookmark new-entry" title="Add New" ng-show="true" style="height: {{entryHeight}}px; width: {{entryWidth}}px" ng-click="newBookmark()">
                    <div class="bookmark__overlay"></div>
                    <span class="new-entry__content"><i class="fa fa-plus"></i></span>
                </div>
            </div>
        </div>

        <a href="/views/options.html" id="options-link" class="options-link">
            <span class="fa fa-gear"></span>
        </a>

        <script type="text/javascript" src="/scripts/vendor.js"></script>
        <script type="text/javascript" src="/scripts/app.js"></script>
    </body>
</html>
